Flask==2.2.5
Flask-SQLAlchemy==3.1.1
Flask-Bcrypt==1.0.1
Flask-Login==0.6.2
Flask-Migrate==4.0.4
psycopg2-binary==2.9.9
python-dotenv==1.0.0
Werkzeug==2.3.7
Flask-Paginate==2023.8.25
pandas==2.0.3
openpyxl==3.1.2
Flask-Mail==0.9.1
Flask-APScheduler==1.12.3
